# Training
batch_size_per_gpu: 8
gradient_accumulation_steps: 2
n_updates: 300000
learning_rate: 0.0005
log_interval: 1000

use_actions: true

# these can vary but for convenience, here
embed_dim: 32
num_heads: 8
hidden_dim: 128
num_blocks: 4

# Paths
video_tokenizer_path: null
latent_actions_path: null

# resume from checkpoint
checkpoint: null
